.container {
  height: 500px;
  margin: 100px auto;
  width: 500px;
}

.cell {
  background-color: yellow;
  background-size: contain;
  border: 1px solid white;
  box-sizing: border-box;
  float: left;
  height: 10%;
  width: 10%;
}

.active {
  background-color: violet;
}

.active-head {
  background-color: #e74c3c;
}
